*
!.github
!.github/**
!.tests/
!.tests/config/
!.tests/config/**
!.tests/test_data/
!.tests/test_data/**
!config/
!config/**
!resources/
!resources/**
!workflow/
!workflow/**
!.gitattributes
!.gitignore
!.pre-commit-config.yaml
!LICENSE
!README.md
